body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  height: auto;
  background: #fff;
  margin: 16px auto;

  padding: 12px;
}

.title {
  margin-top: 0;
  background: #e3f4ff;
  padding: 8px;
  font-size: 20px;

  margin-bottom: 8px;

  display: block;
}

.content {
  font-weight: 900px;
  background: #e3f4ff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 8px;
}

.button-container {
  text-align: center;
  display: block;
  background: #e3f4ff;
  padding-top: 8px;
  padding-bottom: 8px;
}

button {
  margin-right: auto;
  margin-left: auto;

  padding-top: 8px;
  padding-bottom: 8px;

  display: block;
  background: white;
  border: 1px solid #eee;
}